<div class="row">
  <div class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
    <div class="ui-block">
      <div class="ui-block-title">
        <h6 class="title">{{ 'aboutMe' | translate }}</h6>
      </div>
      <div class="ui-block-content">
        <div class="row">
          <div class="col col-12">

            <!-- W-Personal-Info -->

            <ul class="widget w-personal-info item-block">
              <li *ngIf="model.aboutMe !== '' && model.aboutMe !== null">
                <span class="text">{{ model.aboutMe }}</span>
              </li>
            </ul>

            <!-- ... end W-Personal-Info -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
    <div class="ui-block">
      <div class="ui-block-title">
        <h6 class="title">{{ 'Personal Info' | translate }}</h6>
      </div>
      <div class="ui-block-content">

        <!-- W-Personal-Info -->

        <ul class="widget w-personal-info">
          <li>
            <span class="title">{{ 'Username' | translate }}:</span>
            <span class="text">{{ model.username }}</span>
          </li>
          <li *ngIf="model.name !== '' && model.name !== null">
            <span class="title">{{ 'Real name' | translate }}:</span>
            <span class="text">{{ model.name }}</span>
          </li>
          <li *ngIf="model.tagLine !== '' && model.tagLine !== null">
            <span class="title">{{ 'Tagline' | translate }}:</span>
            <span class="text">{{ model.tagLine }}</span>
          </li>

          <li *ngIf="model.city !== '' && model.city !== null">
            <span class="title">{{ 'currentLocation' | translate }}:</span>
            <span class="text">{{ model.city }}</span>
          </li>

          <li>
            <span class="title">{{ 'joined' | translate }}:</span>
            <span class="text">{{ model.dateStamp }}</span>
          </li>

        </ul>

        <!-- ... end W-Personal-Info -->

      </div>
    </div>
  </div>
</div>
