<div *ngIf="model;else noModel">
  <app-profile-header [model]="model" [isAuthenticated]="isAuthenticated"></app-profile-header>
  <app-profile-body [model]="model"></app-profile-body>
  <app-profile-references></app-profile-references>
</div>
<ng-template #noModel>
  <div class="spinner_container">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</ng-template>
<div *ngIf="!modelFound">
  <p>
    {{ 'Profile not found!' | translate }}
  </p>
</div>
