<div class="container">

  <div class="row">
    <div class="col col-12">

      <div class="top-header-thumb">
        <img src="{{ model.picCover }}" alt="{{ model?.username }}">
      </div>

    </div>
  </div>

  <div class="row" *ngIf="isAuthenticated && model">
    <div class="col col-12">

      <a href="javascript:" (click)="messageDialog()">
        <i class="far fa-comments"></i>
      </a>
      <a href="javascript:" routerLink="/dashboard/settings">
        <i class="fas fa-cogs"></i>
      </a>

    </div>
  </div>

  <div class="row">
    <div class="col col-12">

      <img src="{{ model.picProfile }}" alt="{{ model?.username }}">
      <span class="h4 author-name">{{ model?.name }}</span>
      <div class="country">{{ model?.city ? model?.city : planet_earth }}</div>

    </div>
  </div>

</div>
