<div class="container">
  <div class="place-container">
    <div class="row">
      <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Place Name">
          </mat-form-field>
      </div>
      <div class="col-md-8">
          <mat-form-field>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <mat-form-field>
            <input [value]='lat' matInput placeholder="Latitude">
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field>
              <input [value]='lng' matInput placeholder="Longitude">
            </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <agm-map (mapReady)='onMapReady($event)' (mapClick)="positionChanged($event)" [latitude]="51.678418" [longitude]="7.809007">
            <agm-marker [latitude]="lat" [longitude]="lng" [label]="'P'">
            </agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <button mat-button>Add Place</button>
      </div>
    </div>
  </div>
</div>